# dependencies
node_modules/

# env files
.env
.env.local
.env.production
.env.minipc
.env.vps

# next.js
.next/
out/

# build
dist/
.open-next/
uploads/

# misc
.DS_Store
*.tsbuildinfo

# Temp folder for porting solar-panel logic into /check page (delete after porting)
solar-panel/

# wrangler
.wrangler/
